#page-map{:'data-role' => 'page'}
  %div{:'data-role' => 'header'}
    %h1 Map Chasing
    %a.ui-btn-right{:href => '/logout', :'data-ajax' => 'false'} Logout
  %div{:'data-role' => 'content', :style => 'padding: 0'}
    #map-canvas
    #sticker
