!!! 5
%html
  %head
  %meta{:charset => 'UTF-8'}
  %meta{:name => 'apple-mobile-web-app-capable', :content => 'yes'}
  %meta{:name => 'apple-mobile-web-app-status-bar-stylestartup', :content => 'black'}
  %link{:rel => 'apple-touch-icon', :href => '/img/webclip.png'}
  %link{:rel => 'apple-touch-startup-image', :href => '/img/startup.png'}
  %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}
  %title Map Chasing - ブラウザで追いかけっこ
  %link{:rel => 'stylesheet', :href => 'http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.css'}
  %link{:rel => 'stylesheet', :href => '/css/styles.css'}
  %script{:src => 'http://code.jquery.com/jquery-1.6.1.min.js'}
  %script{:src => 'http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.js'}
  %script{:src => 'http://maps.google.com/maps/api/js?sensor=true'}
  %script{:src => '/js/infobox_packed.js'}
  %script{:src => 'http://js.pusherapp.com/1.7/pusher.js'}
  %script{:src => '/js/user.js'}
  %script{:src => '/js/script.js'}
  :javascript
    var pusher_key  = '#{Pusher.key}';
    var socket_id;
    var q = #{q};
    var Users = {};
    Users[0] = new User(#{user});
    var bounds;

%body
  =yield
  
