#page-map{:'data-role' => 'page'}
  %div{:'data-role' => 'header'}
    %h1 Map Chasing
  %div{:'data-role' => 'content'}
    %p Logged out
    %p
      %a{:href => '/', :'data-ajax' => 'false'} Login
