!!! 5
%html
  %head
  %meta{:charset => 'UTF-8'}
  %title Map Chasing - ブラウザで追いかけっこ
  %link{:rel => 'stylesheet', :href => 'http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.css'}
  %script{:src => 'http://code.jquery.com/jquery-1.6.1.min.js'}
  %script{:src => 'http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.js'}

%body
  =yield
  
