!!! 5
%html
  %head
  %meta{:charset => 'UTF-8'}
  %title Map Chasing - ブラウザで追いかけっこ
  %link{:rel => 'stylesheet', :href => '/css/jquery.mobile-1.0a3.min.css'}
  %script{:src => '/js/jquery-1.5.min.js'}
  %script{:src => '/js/jquery.mobile-1.0a3.min.js'}

%body
  =yield
  
